@{
    ViewData["Title"] = "Providers Master";
}

<div>
    <!-- Data binding to display the message -->
    <p data-bind="text: message"></p>
</div>

@section Scripts {
    <script src="~/lib/knockout-3.5.1.js"></script>
    <script src="~/js/master/providers.js"></script>
}